<h1>All Users</h1>
<ul class="users">
  <% @users.each do |user| %>
    <li class="user">
      <%= user.first_name %> 
      <%= user.last_name %> 
      <br>
      <%= user.phone %>
      <br>
      <%= user.email %>
      <br>
      <span class="links">
        <%= link_to "Details", user %> |
        <%= link_to "Edit", edit_user_path(user) %> | 
        <%= link_to "Delete", user, method: :delete %>
      </span>
    </li>
    <br>
  <% end %>
</ul>

<%= link_to "Add User", new_user_path %>
